SQLAlchemy~=2.0.32
textstat~=0.7.4
transformers~=4.44.1
nltk~=3.9.1
sentence-transformers~=3.0.1
python-telegram-bot~=21.4
Flask~=3.0.3
Flask-SocketIO~=5.3.6
PyYAML~=6.0.2
numpy==1.26.4
psycopg2-binary
telethon
scikit-learn
black
isort
flake8
py-automapper
deep_translator
openai~=1.0.0
neo4j~=5.20.0